.contenedor(flex="90" layout="row" layout-xs="column")
	.mapa(flex="50" flex-xs="50")
		h3 Encuéntranos
		.mapa-content.md-padding
			ui-gmap-google-map(center='map.center' zoom='map.zoom' options="options")
				ui-gmap-marker(coords="marker.coordenadas" idkey="$index" ng-repeat="marker in markers")
	.ubicacion(layout="column" flex="25" flex-xs="35")
		h3 Dirección y Teléfono
		.telefono(layout="row")
			md-icon call
			h4 52 1 33 1554 6419
		.email(layout="row")
			md-icon mail_outline
			h4 German@reyesreyesabogados.com
		.direccion(layout="row")
			md-icon location_on
			h4 WTC Montecito 38, Piso 28, Oficina 16, Col. Napoles Del. Benito Juarez, Ciudad de México
	.formulario(flex-sm="40" flex="25" flex-xs="35")
		h3 Contáctanos
		form(ng-submit="nuevoContacto(contacto)" ng-hide="listo" layout-align="center center")
			.md-padding(layout="column")
				md-input-container(flex)
					label Nombre
					input(ng-model="contacto.nombre" style="color:white;" required)
				md-input-container(flex required)
					label E-mail
					input(ng-model="contacto.email" style="color:white;" required)
				md-input-container(flex)
					label Mensaje
					textarea(ng-model="contacto.mensaje" md-maxlength="1000" rows="5" style="color:white;" required)
			md-button(type="submit" flex)
				| Enviar
		.mensaje(ng-show="listo" style="width: 350px")
			md-card-content
				h1(style="text-align: center") Muchas Gracias, muy pronto nos comunicaremos contigo.