//- este archivo se carga desde el archivo layout.jade del main
md-radio-group(ng-model="opciones" layout="row" layout-align="around-space center")
	md-radio-button(value="1" ui-sref-active="active" ui-sref="home.consulta")
		md-tooltip Consulta Gratis
	md-radio-button(value="2" ui-sref-active="active" ui-sref="home.valores")
		md-tooltip Valores
	md-radio-button(value="3" ui-sref-active="active" ui-sref="home.nosotros")
		md-tooltip Nosotros
	md-radio-button(value="4" ui-sref-active="active" ui-sref="home.servicios")
		md-tooltip Servicios
