.nav(layout="row"  layout-align="center center")
	.nav-content(flex="70" flex-xs="90" flex-sm="90" layout="row" layout-align="around-space center")
		.logo
			md-icon(md-svg-icon="img/logo.svg" ui-sref="home.consulta")
			h1 Reyes Reyes Abodagos
		div
