section(layout="row" layout-align="center center")
	md-radio-group(ng-model="states")

		md-radio-button(value="Apple" ng-style="{'display':'inline'}") Apple
		md-radio-button(value="Banana" ng-style="{'display':'inline'}")  Banana 
		md-radio-button(value="Mango" ng-style="{'display':'inline'}") Mango
