md-dialog
	md-toolbar
		.md-toolbar-tools
			h4 Crear un nuevo topico
			span(flex)
			md-button(ng-click="close()")
				md-icon clear
	form.md-padding(layout="row" ng-submit="submit(topico)")
		md-input-container(flex)
			label Nombre
			input(ng-model="topico.nombre" required)
		md-button.md-raised(type="submit")
			md-icon add
