@font-face
    font-family Montserrat
    font-weight 400
    src url('../fonts/Montserrat/Montserrat-Black.ttf')

cafeclaro = #deb887
gris = #333
fondo = #FFAE68

mobile = "(max-width: 600px)"
compu = "(min-width: 600px)"


transition(duracion, delay)
    -webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -webkit-transition-delay delay ease-in-out
    transition-delay delay ease-in-out

animation(animation, duration = 1s)
    -webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
    animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
    -webkit-transition all duration ease-in-out
    -moz-transition all duration ease-in-out
    -o-transition all duration ease-in-out
    transition all duration ease-in-out

.titulo
    h1
        color white
        margin 0px
        display inline-flex
        text-align center
        @media mobile
            font-size 15px
    &.primero
        h1
            font-family Montserrat
            font-size 50px
            padding 0 18px
            border 5px solid white
    &.segundo
        h1
            background-color black
            padding 20px


.pageleft
    &.ng-enter
        animation(fadeInLeft)
    &.ng-leave
        animation(fadeOutRight)

.pageright
    &.ng-enter
        animation(fadeInRight)
    &.ng-leave
        animation(fadeOutLeft)

.layout-row>div
	max-height inherit !important


body, html
	background-color inherit

md-backdrop
	opacity .95 !important

main
	position relative

header
	position fixed
	z-index 1
	width 100%
	.nav
		margin 0px
		width 100%
		height 50px
		padding 5px 0
		.nav-content
			padding 0 20px
			.logo
				display flex
				md-icon
					height 40px
					width 40px
					margin inherit
					color white
					cursor pointer
					&.conHover
						transform scale(.9)
							transition(300ms, 0)
				h1
					margin 0px
					margin-right 10px
					color white
					font-size 29px
					@media mobile
						font-size 20px
						margin-top 3%
						margin-left 3px

md-dialog
	width 28vw !important
	background-color rgba(255,255,255,0.9)

.prospecto-content
	md-card-content
		form
			margin 20px
			.md-button
				background green
			md-card-content
				md-input-container
					margin 0px !important
.home
	//height inherit !important
	position relative
	min-height 100vh
	@media mobile
		height inherit !important
		position relative
	.background
		width 100vw
		height 100vh
		top 0px
		left 0px
		position absolute
		z-index -1
		&>div
			width 100vw
			height 100vh
			background-repeat no-repeat
			background-size cover
			background-position center center
	.points
		width 100%
		height 100%
		position absolute
		z-index 0
	.central
		min-height calc(100vh - 100px)

		@media mobile
			height inherit !important

		.page
			// max-height inherit !important
			// position absolute
			// width 100vw
			// height 100vh
			// top 0
			// left 0
			@media mobile
				max-height inherit !important

		.md-button
			border 4px solid white
			height 77px
			width 77px
			&.left
				border-radius 30px 0px 30px 0px
				@media mobile
					min-width inherit
					height 40px
					width 70px
					margin 0 auto
					transform scale(.7)
			    	margin-left 1%


			&.right
				border-radius 0px 30px 0px 30px
				@media mobile
					min-width inherit
					height 40px
					width 70px
					margin 0 auto
					transform scale(.7)
					margin-left 1%

			md-icon
				transform scale(2.8)
				color white
	.opciones
		height 100px
		md-radio-group
			transform scale(1.8)
		md-radio-button
			.md-off
				border-color white


.consulta
    width 100%
    min-height calc(100vh - 100px)
	@media mobile
		margin-top 19%
	.titulo-consulta
        padding 5% 0
        .titulo
            display flex
            &.segundo
                justify-content flex-end !important
	.panel
		position relative
		width 100%
		overflow hidden
		.panel-contenido
            position relative
            z-index 1
            md-toolbar
                background-color black
                p
                    color white
			md-expansion-panel
				box-shadow none
				background-color inherit !important
				background none !important
				opacity 0.9
				md-expansion-panel-collapsed
					height 60px
					background none !important
					.md-expansion-panel-icon
						margin-right 30px
						margin-left 30px
						transform scale(2.2) rotate(90deg)
						svg
							fill white !important
					.md-title
						max-width inherit
						color white
						p
							line-height 60px
							margin 0px
				md-expansion-panel-expanded
					md-expansion-panel-header
						background-color cafeclaro
						.md-expansion-panel-header-container
							background inherit !important
							line-height 19px
							h3
								color white
					md-expansion-panel-content
						background-color white
					md-expansion-panel-footer
						background-color white
						.md-expansion-panel-footer-container
							padding 0px
							.md-button
								border inherit
								border-radius 0px
								height 48px
								width 100%
								margin 0px
								md-icon
									color cafeclaro

					md-icon
						transform scale(1.8) !important
						color inherit !important
			cl-paging
				.paginacion
					.md-button
						max-height inherit !important
						max-width inherit !important
						border none
						margin 0px
						border-radius 0px
						&.first, &.last
							background-color white
							md-icon
								color gris
						span
							color white
							font-size 21px

.valores
    .titulo
        display flex
        justify-content flex-end
	@media mobile
		margin-top 19%
	.razones
        position relative
        overflow hidden
        @media mobile
            max-width inherit !important
        md-list
            position relative
            z-index 1
            margin 0px
            padding 0px
            md-list-item
                margin 30px 0
                min-height 80px
                .numero
                    line-height 80px
                    padding 0 20px
                    span
                        font-size 30px
                        color white
                        font-family Montserrat
                .md-list-item-text
                    h4
                        color white
                        font-size 25px
                        font-family Montserrat
                    p
                        color white
                        font-size 14px
                        margin 0px
                        text-align justify
	.testimonios
        background-color black
        opacity .9
        display flex
        justify-content center
		.slider
            height 130px
            width 500px
			.item
                height 120px
                h4
                    color white
                p
                    font-style italic
                    text-align right
                    font-size 14px
                    color white
.servicios
    width 100%
	h1
		color white
		text-align center
		@media mobile
			font-size 15px
			margin-top 19%
	md-grid-tile
		background-size cover

.opacity
	background-attachment fixed
	background-size cover
	background-position center
	filter blur(50px)
	// opacity .5
	// background-color white
	// backdrop-filter: blur(50px);
	// -webkit-backdrop-filter: blur(50px);
	position absolute
	width calc(100% + 500px)
	max-width none
	height calc(100% + 500px)
	top -250px
	left -250px
	z-index 0


.servicio-one
	.titulo-servicio
		h1
			color white
			text-align center
	.contenido
		md-card-content
			background-color cafeclaro
			opacity .95

			p
				color white

.mapa
	@media mobile
		min-height inherit !important
	h3
		color white
		text-align center

.ubicacion
	div
		padding 5%
		height 2%
		margin-top 3%

		h4
			margin-top 3%
			margin-left 5px
	md-icon
		color cafeclaro
		margin-left 0
		margin-right 0
		margin-top 3%
	h3
		color white
		text-align center
	h4
		color white
		text-align justify

.formulario
	//margin-left 15%
	h3
		color white
		text-align center

	form
		width 100%
		border 1px solid cafeclaro

		.md-padding
			md-input-container
				margin 0px !important
				label
					color cafeclaro
				.md-input
					border-color cafeclaro
		.md-button
			border 1px solid white
			margin-left 38%
			width 25%
			@media mobile
				margin-left 33%

			span
				color white

	.mensaje
		border 1px solid cafeclaro
		margin 20% auto
		md-card-content
			h1
				color cafeclaro

.nosotros
    .primero
        display flex
        justify-content flex-end
        margin 30px 0
    .informacion-content
        overflow hidden
        position relative
        .descripcion
            z-index 1
            p
                color white
                padding 20px
        .informacion
            z-index 1
            .foto
                display flex
                align-items center
                img
                    margin 20px
                    height 100px
            .parrafo
                color white
                flex 1
                h4
                    font-size 30px
                    margin 0px
                    color white
                    font-family Montserrat


.servicio-one
	@media mobile
		margin-top 19%
	margin-top 8%
	h1
		height 3%
		color white
		text-align center
		@media mobile
				font-size 15px
	.contenido
		opacity 0.85
		md-card-content
			padding 2%
