cafeclaro = #deb887

md-dialog
    width 50vw


.cafeclaro
    background-color #deb887 !important

ui-gmap-google-map
    height 30%
    width 300px
    .angular-google-map
        width 100%
        height 300px
        .angular-google-map-container
            height 300px
            width 100%


.layout-row>div
    max-height inherit !important

.centro
    width 100%
    background-color blue
    min-height 100vh

footer
    background-color black

.header-content
    background-color black

.ta-toolbar
    display flex
    flex-direction row
    flex-wrap wrap
    .ta-button-group
        display flex
        flex-direction row
        flex-wrap wrap
        button
            min-width 0
            min-height 0
            line-height normal
            margin-left 0
            color black
            md-icon
                color rgb(33,150,243)
        &.active
            background-color rgb(33,150,243)

.ta-text-editor
    .ta-bind
        border-bottom 1px solid rgb(33,150,243)
        &:focus
            border-bottom 2px solid rgb(33,150,243)
            outline none


text-angular-toolbar
    display inline-flex !important
