.home
	.points(style="background-image : url('img/point.png')")
	.central(layout="row" layout-align="space-around center")
		md-button.left(ng-click="cambiar(-1)" hide-xs)
			md-icon keyboard_arrow_left
		main.page(ui-view="main" style="width: 100%" layout="row" layout-align="center center")
		md-button.right(ng-click="cambiar(1)" hide-xs)
			md-icon keyboard_arrow_right
	.opciones(layout="row" layout-align="center center")
		include ../../partials/nav
	main(class="background" ui-view="background" ng-class="ctrl.indicador === 1 ? 'pageleft' : 'pageright' ")
