.nosotros(flex="70")
	.titulo.primero
		h1 EL DESPACHO
	.informacion-content(layout="column" layout-align="center center")
		.descripcion
			p Reyes Reyes Abogados es un despacho Jurídico comprometido con el deber profesional, consolidado por una estructura de Licenciados en Derecho, que se destaca por su honestidad, innovación, dinamismo, y amplia experiencia en las diversas áreas del Derecho.
		.informacion(layout="row")
			.foto(flex-offset="30")
				img(src="img/german.png")
			.parrafo
				h4 Lic. German Reyes Reyes
				p Abogado especialista en materia penal y Derecho Militar, especializado en el Instituto Nacional de Ciencias Penales (INACIPE) y en el United States Defense Institute of Internacional Legal Studies
		.opacity(style="background-image : url('img/nosotros.jpg')")
