.servicios
	h1 NUESTROS SERVICIOS
	md-grid-list(md-cols="8" md-row-height="200px" md-gutter="0px")
		md-grid-tile(md-colspan="8" md-colspan-xs="6" md-rowspan="2" ng-click="irServicio('1')" style="background-image:url(../img/penal2.jpg)" )
			md-grid-tile-footer
				h2 Derecho Penal
		md-grid-tile(md-colspan="2" md-colspan-xs="6" md-rowspan="1" ng-click="irServicio('2')" style="background-image:url(../img/militar.jpg)")
			md-grid-tile-footer
				h2 Derecho Militar
		md-grid-tile(md-colspan="2" md-colspan-xs="6" md-rowspan="1" ng-click="irServicio('3')" style="background-image:url(../img/familia2.jpg)")
			md-grid-tile-footer
				h2 Derecho Civil y Familiar
		md-grid-tile(md-colspan="2" md-colspan-xs="6" md-rowspan="1" ng-click="irServicio('4')" style="background-image:url(../img/amparo8.jpg)")
			md-grid-tile-footer
				h2 Amparo
		md-grid-tile(md-colspan="2" md-colspan-xs="6" md-rowspan="1" ng-click="irServicio('5')" style="background-image:url(../img/fiscal2.png)")
			md-grid-tile-footer
				h2 Derecho Fiscal
