.testimonios(layout-align="center center")
	.titulo-testimonios(flex="50")
		h1 TESTIMONIOS
	.contenido(flex="80")
		.slider
			.item
				h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aliquid magni culpa repellat illo maxime, qui temporibus in, voluptates velit cum magnam necessitatibus aspernatur tempore ex nesciunt explicabo earum."
				p Monica de Jesus Arenas Gutierrez 
			.item
				h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aliquid magni culpa repellat illo maxime, qui temporibus in, voluptates velit cum magnam necessitatibus aspernatur tempore ex nesciunt explicabo earum."
				p Ulises Gonzales	 
			.item
				h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aliquid magni culpa repellat illo maxime, qui temporibus in, voluptates velit cum magnam necessitatibus aspernatur tempore ex nesciunt explicabo earum."
				p Malaga Matias
			.item
				h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora aliquid magni culpa repellat illo maxime, qui temporibus in, voluptates velit cum magnam necessitatibus aspernatur tempore ex nesciunt explicabo earum."
				p Cesar Cordoba