.valores
		.titulo.primero
			h1 3 RAZONES PARA TRABAJAR CON NOSOTROS
		.md-padding(layout="column" layout-xs="column" layout.sm="column")
			.razones(layout-align="center center")
				md-list
					md-list-item.md-2-line.razon1
						.numero
							span #1
						.md-list-item-text
							h4 Calidad
							p  Se establece una cláusula de garantía de éxito, esto es, si no se obtiene el resultado establecido, se reintegra el anticipo otorgado como parte de los honorarios.
					md-list-item.md-2-line.razon2
						.numero
							span #2
						.md-list-item-text
							h4 Transparencia
							p  Si el cliente lo desea se le puede acompañar para enseñarle el expediente dentro del Juzgado.
					md-list-item.md-2-line.razon3
						.numero
							span #3
						.md-list-item-text
							h4 Servicio
							p  Estamos disponibles para orientarte sin costo alguno, deseamos que siempre tengas la mayor certeza.
				.opacity(style="background-image : url('img/valores.jpg')")
			.testimonios(layout="row")
				.slider(layout-align="center center")
					.item
						h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit.".
						p Ulises Gonzalez
					.item
						h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit.".
						p Cesar Cordoba Morales 
					.item
						h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit.".
						p Luis Malaga Matias 
					.item
						h4 " Lorem ipsum dolor sit amet, consectetur adipisicing elit.".
						p Monica de Jesus Arenas Gutierrez
